html {
    width: 1140px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace
}

.person {
    color: red
}

.popup--green {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.popup--red {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.phonebook {
    display: flex;
    flex-wrap: wrap;
}

.actions {
    width: 20%;

}

.filter {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.filter input {
    width: min-content;
}



.numbers {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.addnew {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.addnew button {

    width: 168px;
    margin-top: 10px;
}

.person {
    display: flex;
    align-items: center;
    flex-direction: row;

}

.person button {
    border: 1px solid red;
    border-radius: 10px;
    background: inherit;
    padding: 2px 2px;
    margin-left: 10px;
}
.person button:hover{
    background:red;
    color: #fff;
    cursor: pointer;
}